<form method="post" action="{{ path('app_eliminar_perro', {'id': perro.id}) }}" onsubmit="return confirm('Seguro que desea eliminar este perro?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ perro.id) }}">
    <button class="btn btn-danger"><i class="fa-solid fa-trash"></i></button>
</form>
