{% extends 'base.html.twig' %}

{% block title %}New User
{% endblock %}

{% block body %}
	<div class="row">
		<h1 class="m-3">Crear nuevo usuario</h1>
		<div class="col-md-6">
			{{ include('user/_form.html.twig') }}
			<div class="my-3">
				<a href="{{ path('app_user_index') }}">Volver a la lista</a>
			</div>
		</div>
		<div class="col-md-6">
			<img src="/img/register.jpg" class="img-fluid rounded-top" alt="Foto del registro">
		</div>
	</div>
{% endblock %}
